# Python
__pycache__/
*.py[cod]
*.pyo
.python-version
*.egg-info/

# uv
.venv/

# Build output
dist/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Cypress
cypress/screenshots/
cypress/videos/
node_modules/
